* {
  margin: 0;
  padding: 0;
}

/* HEADER START */

header {
  display: flex;
  flex-direction: row;
  /* swap the image url below with the real one later */
  background-image: url("../images/sample.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  height: 400px;
}

h1 {
  color: white;
}

.logo {
  padding: 20px;
}

nav {
  padding: 30px 50px;
}

.menu {
  display: inline-block;
  /* border setting is just for testing the layout, change it later */
  border: 1px solid white;
  padding: 10px;
  margin: 0 20px;
}

nav a{
  color: white;
  text-decoration: none;
}

.menu:hover {
  /* interactivity demo, change the hover action later */
  background-color: rgba(256,256,256,0.3);
}

/* COMMON CODE FOR ALL PAGES START */

/* HEADER END */

/* MAIN START */
.page_title{
  margin: 30px 0;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.line {
  flex-grow: 3;
  border: 1px solid black;
}

h2 {
  padding: 5px 20px;
  border: solid black 2px;
}

/* MAIN END */

/* FOOTER START */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 30px 20px;
  background-color: #3b3b3b;
  color: white;
}

/* FOOTER END */

/* COMMON CODE FOR ALL PAGES END */
