* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

/* HEADER START */

header {
  display: flex;
  flex-direction: row;
  /* swap the image url below with the real one later */
  /* background-image: url("../images/sample.jpg"); */
  background-color: darkred;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  height: 400px;
}

#mobilemenu {
  display:none;
}

h1 {
  color: white;
  font-family: Impact;
  font-weight:normal;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 40px;
}

.logo {
  padding: 20px;
}

nav{
  padding: 30px 50px;
}

.menu {
  display: inline-block;
  margin: 0 20px;
}

nav a{
  /* display: block; */
  border: 1px solid white;
  border-left: 3px solid white;
  font-variant: small-caps;
  /* width: 70px; */
  /* border setting is just for testing the layout, change it later */
  padding: 7px 14px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  /* interactivity demo, change the hover action later */
  background-color: rgba(255,255,255,0.3);
}

/* COMMON CODE FOR ALL PAGES START */

/* HEADER END */

/* MAIN START */
.page_title{
  margin: 30px 0;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.line {
  flex-grow: 3;
  border: 1px solid black;
}

h2 {
  padding: 5px 20px;
  border: solid black 2px;
  border-left: solid  black 5px;
  /* font-family: "American Typewriter", serif; */
  letter-spacing: 0.5px;
  font-size: 28px;
  font-weight: normal;
  font-variant: small-caps;
}

/*Form*/
form{
  text-align: center;

}

button{
  margin: 20px;
  margin-bottom: 100px;
}

.hidden{
  display:none;
}

.feedback{
  color: red;
}

#name_block{
  margin: 20px;
}

#email_block{
  margin: 20px;
}

#year{
  margin:20px;
}

#position_Options{
  text-align:left;
  display:inline-block;
  margin-bottom: 20px;
}

#positionq{
  display: inline-block;
  vertical-align: top;
}

#aboutq{
  /*display:inline-block;
  vertical-align: top;
  margin-right: 5px;*/
  margin-top:20px;
}

#about_u{
  display:block;
  margin:auto;
  margin-top:10px;
}

/*Form End*/

/*About Page*/
#about_description_group{
  width:800px;
  margin: auto;
  margin-bottom:150px;
}

#about_description1{
  margin-bottom:20px;
}

#aboutImg{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/*About Page End*/

/*Schedule Page*/
#18schedule{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow:1;
}

#19schedule {
  display:flex;
  flex-direction: row;
  flex-grow:1;
}


/*Schedule Page End*/

/*News Page*/

#news1 #news2 #news3{
  margin-top: 5%;
}



/*News Page End*/

/* ROSTER PAGE */
.threeProfs{
  display:flex;
  flex-direction: row;
  margin: 30px;
  justify-content:center;
}
.prof1 , .prof2 , .prof3{
  margin: 20px;
  text-align: center;
}
/*ROSTER END*/

/* GALLERY START */
#gallerybox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 70px;
}

.img_column {
  flex: 30%;
  padding: 0 7px;
}

.img_column img {
  margin: 7px 0;
  vertical-align: middle;
  width: 100%;
}
/* GALLERY END */

/* MAIN END */

/* FOOTER START */

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 30px 20px;
  background-color: #3b3b3b;
  color: white;
}

footer p {
  padding: 0 50px 0 0;
}

/* FOOTER END */

/* COMMON CODE FOR ALL PAGES END */

@media screen and (max-width:600px){

  body,html{
    overflow-x: hidden;
  }

  /* HEADER START */
  header {
    display:flex;
    flex-direction: column;
    /* swap the image url below with the real one later */
    background-image: none;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
  }

  #mobilemenu {
    padding: 5px 7px;
    font-size: 20px;
    color: white;
    display: block;
  }

  h1 {
    color: white;
    padding: 10% 5% 15% 5%;
    text-align: center;
  }

  .logo {
    padding: 20px;
  }

  nav{
    display: none;
    position: fixed;
    background-color: darkslategrey;
    top: 0;
    left: 0;
    height: 100%;
    padding: 50px 100px 30px 30px;
  }

  .menu {
    display: block;
    margin: 40px 20px;
    font-size: 20px;
  }

  nav a{
    border: none;
  }
  /* HEADER END */

  /* ROSTER PAGE */
  .threeProfs{
    flex-wrap: wrap;
  }
  .prof1 , .prof2 , .prof3{
    margin: 20px;
    text-align: center;
  }
  /*ROSTER END*/

  /* GALLERY START */
  #gallerybox {
    margin: 30px 20px;
  }

  .img_column {
    flex: 80%;
    padding: 0 7px;
  }
  /* GALLERY END */

  /*FORM START*/
textarea{
  width: 80%;
}

button{
  margin-bottom: 30px;
}
  /*FORM END*/
}

@media(min-width: 600px) and (max-width: 900px){

    body,html{
      overflow-x: hidden;
    }

    /* HEADER START */
    header {
      display:flex;
      flex-direction: column;
      /* swap the image url below with the real one later */
      background-image: none;
      background-color: black;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40%;
    }

    #mobilemenu {
      padding: 5px 10px;
      font-size: 30px;
      color: white;
      display: block;
    }

    h1 {
      color: white;
      padding: 10% 5% 15% 5%;
      text-align: center;
    }

    .logo {
      padding: 20px;
    }

    nav{
      display: none;
      position: fixed;
      background-color: darkslategrey;
      top: 0;
      left: 0;
      height: 100%;
      padding: 50px 100px 30px 30px;
    }

    .menu {
      display: block;
      margin: 40px 20px;
      font-size: 20px;
    }

    nav a{
      border: none;
    }
    /* HEADER END */

    /* ROSTER PAGE */
    .threeProfs{
      flex-wrap: wrap;
    }
    #allProfs{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px;
    }
    /*ROSTER END*/

    /* GALLERY START */
    .img_column {
      flex: 40%;
    }
    /* GALLERY END */

    /*FORM START*/
    button{
      margin-bottom: 35px;
    }

    textarea{
      width: 70%;
    }
    /*FORM END*/

}
