* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER START */

header {
  display: flex;
  flex-direction: column;
  /* swap the image url below with the real one later */
  background-image: url("../images/sample.jpg");
  /* background-color: darkred; */
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  /* justify-content: space-between; */
  height: 400px;
}

#mobilemenu {
  display:none;
}

h1 {
  display: inline-block;
  border: white 1px solid;
  margin: 30px 0 0 0 ;
  padding: 60px 50px;
  color: white;
  font-size: 40px;
  background-color: rgba(255,255,255,0.2);
}

.logo {
  padding: 20px;
}

nav{
  padding: 30px 50px;
}

.menu {
  display: inline-block;
  margin: 0 20px;
}

nav a{
  /* display: block; */
  border: 1px solid white;
  border-left: 3px solid white;
  /* width: 70px; */
  /* border setting is just for testing the layout, change it later */
  padding: 7px 14px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  /* interactivity demo, change the hover action later */
  background-color: rgba(255,255,255,0.3);
}

/* COMMON CODE FOR ALL PAGES START */

/* HEADER END */

/* MAIN START */
.page_title{
  margin: 30px 0;
  display:flex;
  flex-direction: row;
  align-items: center;
}

#left_line {
  flex-grow: 2;
  border: 1px solid black;
}


#right_line {
  flex-grow: 5;
  border: 1px solid black;
}

h2 {
  padding: 5px 20px;
  border: solid black 2px;
  border-left: solid  black 5px;
  letter-spacing: 0.5px;
  font-size: 28px;
  font-weight: normal;
  font-variant: small-caps;
}

/*Form*/
form{
  text-align: center;

}

.alignL{
  display: inline-block;
  width: 4%;
  text-align:right;
}

button{
  margin: 20px;
  margin-bottom: 100px;
}

.hidden{
  display: none;
}

.feedback{
  color: red;
}

#name_block{
  margin: 20px;
}

#email_block{
  margin: 20px;
}

#year{
  margin:20px;
}

#position_Options{
  text-align:left;
  display:inline-block;
  margin-bottom: 20px;
}

#positionq{
  display: inline-block;
  vertical-align: top;
}

#aboutq{
  /*display:inline-block;
  vertical-align: top;
  margin-right: 5px;*/
  margin-top:20px;
}

#about_u{
  display:block;
  margin:auto;
  margin-top:10px;
}

/*Form End*/

/*About Page*/
#about_description_group{
  width:800px;
  margin: auto;
  margin-bottom:150px;
}

#about_description1{
  margin-bottom:20px;
}

#aboutImg{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/*About Page End*/

/*Schedule Page*/

#schedule18, #schedule19 {
  display: flex;
  flex-direction: row;
  margin: 0 10% 20px 15%;
}

#tournament18, #tournament19 {
  margin-right: 10%;
  width:50%;
}

#practice18 p, #practice19 p{
  margin-top: 10px;
}

table {
  color: #333;
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
}

th {
  background: #cdcdcd;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*Schedule Page End*/

/*News Page*/

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  margin: 0 5% 5% 5%;
}

/* the ruler */
.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #cdcdcd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

.container {
  padding: 10px;
  position: relative;
  background-color:#e3e3e3;
  width: 50%;
}

/* circles */
.container::after {
  content: '';
  position: absolute;
  background-color: white;
  border: 4px solid #27cbc6;
  top: 15px;
  border-radius: 40%;
  z-index: 2;
  width: 25px;
  height: 25px;
  right: -17px;
}

/* making sure everything fits */
.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -15px;
}

.content {
  padding: 20px;
  background-color: #e3e3e3;
  position: relative;
}

.content h2 {
  border-style: none;
  font-weight: bold;
  padding:0;
}

.content h3{
  padding-top: 10px;
  padding-bottom: 10px;
}


/*News Page End*/

/* ROSTER PAGE */

.threeProfs{
  display:flex;
  flex-direction: row;
  margin: 30px;
  justify-content:center;
}
.prof1 , .prof2 , .prof3{
  margin: 20px;
  text-align: center;
}
.title1, .title2, .title3 {
  background-color: red;
  padding: 5px;
  color: white;
}
/*ROSTER END*/

/* GALLERY START */
#gallerybox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 70px;
}

.img_column {
  flex: 30%;
  padding: 0 7px;
}

.img_column img {
  margin: 7px 0;
  vertical-align: middle;
  width: 100%;
}
/* GALLERY END */

/* MAIN END */

/* FOOTER START */

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 30px 20px;
  background-color: #3b3b3b;
  color: white;
}

footer p {
  padding: 0 50px 0 0;
}

/* FOOTER END */

/* COMMON CODE FOR ALL PAGES END */

@media screen and (max-width:600px){

  body,html{
    overflow-x: hidden;
  }

  /* HEADER START */
  header {
    display:flex;
    flex-direction: column;
    /* swap the image url below with the real one later */
    background-image: none;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
  }

  #mobilemenu {
    position:absolute;
    z-index:100;
    padding: 5px 7px;
    font-size: 20px;
    color: white;
    display: block;
    align-self: flex-start;
  }

  h1 {
    border:none;
    background-color:rgba(0,0,0,0);
    color: white;
    padding: 5% 5% 15% 5%;
    text-align: center;
  }

  .logo {
    padding: 20px;
  }

  nav{
    /* display: none; */
    position: fixed;
    background-color: #9c2020;
    top: 0;
    left: 0;
    height: 100%;
    padding: 50px 100px 30px 30px;
  }

  .menu {
    display: block;
    margin: 40px 20px;
    font-size: 20px;
  }

  nav a{
    border: none;
  }
  /* HEADER END */

  /* ROSTER PAGE */
  .threeProfs{
    flex-wrap: wrap;
  }
  #allProfs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
  }
  .prof1 , .prof2 , .prof3{
    margin: 20px;
    text-align: center;
  }
  /*ROSTER END*/

  /*SCHEDULE START*/
  #schedule18, #schedule19 {
    display: block;
    margin: 0 10% 20px 10%;
  }

  #tournament18, #tournament19 {
    display: block;
    width:100%;
    margin-bottom: 10px;
  }

  #practice18 p, #practice19 p{
    margin-top: 10px;
  }

  /*SCHEDULE END*/

  /*NEWS START*/
  .timeline::after {
      left: 10%;
  }

  .container {
    width: 100%;
    padding-left: 10%;
    padding-right: 0;
  }

  .right {
    left:0;
  }

  .left::after, .right::after {
    left: 5%;
  }
  /*NEWS END*/

  /* GALLERY START */
  #gallerybox {
    margin: 30px 20px;
  }

  .img_column {
    flex: 80%;
    padding: 0 7px;
  }
  /* GALLERY END */

  /*FORM START*/
textarea{
  width: 80%;
}

button{
  margin-bottom: 30px;
}

.alignL{
  display: inline-block;
  width: 15%;
  text-align:right;
}
  /*FORM END*/

  /*INDEX START*/
  #aboutImg{
    width: 80%;
  }

  #about_description_group{
    width: 90%;
    text-align: center;
  }
  /*INDEX END*/
}

@media(min-width: 600px) and (max-width: 900px){

    body,html{
      overflow-x: hidden;
    }

    /* HEADER START */
    header {
      display:flex;
      flex-direction: column;
      /* swap the image url below with the real one later */
      background-image: none;
      background-color: black;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40%;
    }
    
    #mobilemenu {
      position:absolute;
      z-index:100;
      padding: 5px 10px;
      font-size: 30px;
      color: white;
      display: block;
      align-self: flex-start;
    }

    h1 {
      border:none;
      background-color:rgba(0,0,0,0);
      color: white;
      padding: 10% 5% 15% 5%;
      text-align: center;
    }

    .logo {
      padding: 20px;
    }

    nav{
      display: none;
      position: fixed;
      background-color: #9c2020;
      top: 0;
      left: 0;
      height: 100%;
      padding: 50px 100px 30px 30px;
    }

    .menu {
      display: block;
      margin: 40px 20px;
      font-size: 20px;
    }

    nav a{
      border: none;
    }
    /* HEADER END */

    /* ROSTER PAGE */
    .threeProfs{
      flex-wrap: wrap;
    }
    #allProfs{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 30px;
    }
    .prof1 , .prof2 , .prof3{
      margin: 20px;
      text-align: center;
    }
    /*ROSTER END*/

    /*ROSTER END*/

    /* GALLERY START */
    .img_column {
      flex: 40%;
    }
    /* GALLERY END */

    /*FORM START*/
    button{
      margin-bottom: 35px;
    }

    textarea{
      width: 70%;
    }

    .alignL{
      display: inline-block;
      width:7%;
      text-align:right;
    }
    /*FORM END*/

    /*INDEX START*/
    #aboutImg{
      width: 90%;
    }

    #about_description_group{
      width: 90%;
    }
    /*INDEX END*/
}
